.scrollbar {
    background-color: #f5f5f5;
    float: left;
    height: 300px;
    margin-bottom: 25px;
    margin-left: 5px;
    margin-top: 0px;
    width: 300px;
    overflow-y: scroll;
}

li:focus {
    background: lightgreen;
    width:240px;
  }

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


.selected {
    background: lightgreen;
  }